@model ShopWatch.Models.TAIKHOAN

@{
    Layout = null;
}
<!DOCTYPE html>

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Dangnhap</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>TAIKHOAN</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TENDANGNHAP, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TENDANGNHAP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TENDANGNHAP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MATKHAU, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MATKHAU, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </body>
    </html>*@

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <link rel="stylesheet" href="fontawesome-free-6.3.0-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/styles/responsive.css">

    <style>
        /* LogIn.css */

        body {
            font-family: 'Mulish';
            font-weight: 100; /* Đặt độ đậm của font chữ */
            line-height: 1.5;
        }

        #formId {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background: #ffffff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            margin-top: 190px;
            border-radius: 0px/0px;
        }

        .form-control {
            border-radius: 0px/0px;
        }

        h1 {
            text-align: center;
            font-size: 28px; /* Tăng kích thước tiêu đề */
            font-weight: 600; /* Tăng độ đậm của tiêu đề */
        }

        p {
            text-align: center;
            margin-bottom: 20px;
            font-size: 16px;
        }

        a {
            color: #080808;
            text-decoration: none;
        }




        .input1 {
            width: 100%;
            padding: 12px;
            border: 0px solid #808080;
            border-radius: 0px/0px;
            margin-bottom: 20px;
        }

            .input1:hover {
                background-color: transparent;
                color: #080808;
                border: 0px solid #080808;
            }

        .forget {
            margin: -10px 0 17px;
            font-size: 0.9em;
            color: #fff;
            display: flex;
            justify-content: space-between;
        }

        .remember-forgot {
            color: gray;
            font-weight: 500;
            margin: -15px 0 15px;
        }


        .btndangnhap {
            width: 100%;
            padding: 12px;
            background-color: #080808;
            color: #fff;
            border: none;
            border-radius: 0px/0px;
            cursor: pointer;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 20px; /* Tăng khoảng cách dưới nút đăng nhập */
        }

        .btnIcon {
            display: inline-block;
            margin: 0 10px;
            text-decoration: none;
            color: #ffffff;
            padding: 12px 20px;
            border-radius: 4px;
        }
    </style>
    <title>Document</title>
</head>

<body>

    <div class="super_container">
        <!-- Header -->

        <header class="header trans_300">

            <!-- Top Navigation -->

            <div class="top_nav" style="background-color: #d69a62 ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="top_nav_left" style="color: #fff; text-align: center; text-transform: uppercase; font-family: 'Open Sans', sans-serif"><marquee>NHÀ PHÂN PHỐI CHÍNH HÃNG CÁC THƯƠNG HIỆU ĐỒNG HỒ HÀNG ĐẦU VIỆT NAM</marquee></div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="top_nav_right">
                                <ul class="top_nav_menu" style="">

                                    <!-- Currency / Language / My Account -->


                                    <li class="account" style="background: #d69a62">
                                        <a href="#" style="color: #fff; text-align: center; font-family: 'Open Sans', sans-serif;  ">
                                            My Account
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="account_selection">
                                            <li><a href="/TAIKHOANs/Dangnhap"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                            <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                <a href="#">
                                    <img src="~/assets/KhachHang/images/logo-removebg-preview.png" alt="" style="line-height: inherit; height: 31px; margin-bottom: 13px; vertical-align: middle; width: 95%">
                                </a>
                            </div>
                            <nav class="navbar" style="color: black; margin-top: 10px;  font-weight: bold  ">
                                <ul class="navbar_menu">
                                    <li><a href="/MATHANG/homeIndex">Home<span class="underline"></span></a></li>
                                    <li><a href="/MATHANG/mathang">Product<span class="underline"></span></a></li>
                                    <li><a href="/DatHang/DonHang">Order<span class="underline"></span></a></li>
                                    <li><a href="/KHACHHANGs/Edit">Profile<span class="underline"></span></a></li>
                                    <li><a href="/QUANLYVOUCHERs/VoucherIndex">Coupon<span class="underline"></span></a></li>
                                    <li><a href="contact.html">Contact<span class="underline"></span></a></li>
                                </ul>
                                <ul class="navbar_user">
                                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    <li class="checkout">
                                        <a href="/GioHang/Index">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                          
                                        </a>
                                    </li>
                                </ul>
                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="formId">

                <h1>Login</h1>


                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { placeholder = "   Tài khoản", id = "txtdn", @class = "form-control input1  ip1" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })



                @Html.EditorFor(model => model.MATKHAU, new
                {
                    htmlAttributes = new
                    {
               placeholder = "   Mật khẩu ",
                        id = "txtpass",
                        @class = "form-control input1  ip2"
                    }
                })
                @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })




                <div class="remember-forgot">
                    <input type="checkbox" id="chebox" value="show" class="radiobtn" onclick="ischeck()" /> Remember


                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12" style="margin-right:-19px; text-align:center">
                        <input type="submit"  style=" width: 109%; margin-left: -15px;" value="Login" class="btn btn-default btndangnhap " id="btndangnhap" />
                    </div>
                </div>


                <p class="signup-already" style="text-align:center">
                    <span style=" color: #dbaf56; font-family: inherit; font-size: 1rem; font-weight: 600; "> Bạn chưa có tài khoản ? </span>
                    <a href="/TAIKHOANs/Register">Register</a>
                </p>
            </div>
        }


        <script src="~/assets/KhachHang/LogIn/LogIn.js"></script>
    </div>
    <script src="~/assets/KhachHang/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/KhachHang/styles/bootstrap4/popper.js"></script>
    <script src="~/assets/KhachHang/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/assets/KhachHang/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/assets/KhachHang/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/assets/KhachHang/plugins/easing/easing.js"></script>
    <script src="~/assets/KhachHang/js/custom.js"></script>
    <link href="~/assets/KhachHang/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/assets/KhachHang/styles/bootstrap4/bootstrap.min.css">

</body>


</html>