@model IEnumerable<ShopWatch.Models.DATHANG>

@{
    ViewBag.Title = "ListOder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin:200px 10px 10px 10px">

    <h2>ListOder</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NGAYMUA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TONGTIEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TRANGTHAI)
            </th>
            <th>
                <label>THANH TOÁN</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TINHTRANGDH)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NGAYNHAN)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.KHACHHANG.TENKHACHHANG)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DIADIEM.TENDIACHI)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.NGAYMUA)
                </td>
                <td class="text-center" style="font-size:16px;color:brown;font-weight:500">
                    @String.Format("{0:N0}", item.TONGTIEN)
                </td>
                <td>
                    @if (item.TRANGTHAI == false)
                    {
                        <text>CHƯA THANH TOÁN</text>
                    }
                    else
                    {
                        <text>ĐÃ THANH TOÁN</text>
                    }
                </td>
                <td>
                    @if (item.HINHTHUCTHANHTOAN == false)
                    {
                        <text>COD</text>
                    }
                    else
                    {
                        <text>ONLINE</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TINHTRANGDH)
                </td>


                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.NGAYNHAN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHACHHANG.TENKHACHHANG)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.DIADIEM.TENDIACHI)
                </td>
                @*    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MADH }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MADH }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MADH })
                    </td>*@
            </tr>
        }

    </table>

    </div>
