@model ShopWatch.Models.MATHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MATHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANHSANPHAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANHSANPHAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYSANXUAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYSANXUAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENHANGSANXUAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENHANGSANXUAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAOHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAOHANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KICHTHUOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KICHTHUOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALE.MASALE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALE.MASALE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
