@model IPagedList<ShopWatch.Models.VOUCHER>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "VoucherIndex";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout1.cshtml";
}
@*<button style="background-color:aquamarine;width:10%;height:5%;margin:2%">
    @Html.ActionLink("Create New", "Create")
</button>*@
<div class="row">
    <div class="col-xs-7">
        @using (Html.BeginForm("Index", "CHITIETPHIEUNHAPs1", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="input-group-container">
                <div class="seache row" style="display:flex;margin-left:10px;width:100%;background-color:pink">
                    <input id="myInput" onkeyup="searchTableColumns()" type="text" name="searchValue" class="form-control col-xs-7" placeholder="Nhập vào giá tiền" aria-label="Search" aria-describedby="basic-addon2">
                    @*<button class="btn btn-outline-secondary bnts col-xs-2" type="submit">Search</button>*@
                </div>
            </div>
        }
    </div>
    <div class="col-xs-5 text-right">
        <!-- Sử dụng col-xs-5 để chiếm 5 phần trên 12 phần -->
        <button class="btn btn-danger" style="width: 120px; margin: 10px 0;" onclick="location.href='@Url.Action("Create", "VOUCHER")'">
            CreateVoucher
        </button>
    </div>
</div>
 <table id="myTable" class="table">
    <tr style="background-color:#04AA6D;">
        <th class="text-center">
            <label style="color:black">MAVOUCHER</label>
        </th>
        <th class="text-center">
            <label style="color:black">PHANTRAMGIAMGIA</label>
        </th>

        <th class="text-center">
            <label style="color:black">ĐIỀU KIỆN</label>
        </th>
        <th>  <label style="color:black">TRANGTHAIGIOIHAN</label></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                <label style="color:red;font-size:18px">@Html.DisplayFor(modelItem => item.MAVOUCHER)</label>
            </td>
            <td class="text-center">
                <label style="color:red;font-size:18px">@Html.DisplayFor(modelItem => item.PHANTRAMGIAMGIA)<label>%</label></label>
            </td>
            <td class="text-center">
                <label>@Html.DisplayFor(modelItem => item.DIEUKIEN)</label>
            </td>
            <td class="text-center">

                @{
                    if (item.TRANGTHAIGIOIHAN == true)
                    {


                        <label style="color:red;font-size:15px"> CÁ NHÂN</label>
                    }
                    else
                    {
                        <label style="color:red;font-size:15px">MỌI NGƯỜI</label>
                    }
                }

            </td>

            <td class="text-center">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1"
                                type="button" style="color:brown"
                                class="btn btn-outline-secondary dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            Tùy chọn
                        </button>
                        <div class="dropdown-menu" aria-labelledb0pxy="btnGroupDrop1" style="width:20px">

                            @Html.ActionLink("Edit", "Edit", new { id = item.MAVOUCHER }, new { @class = " btn btn-primary" })

                            @Html.ActionLink("Delete", "Delete", new { id = item.MAVOUCHER }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<script>
    function searchTableColumns() {
      
        var input, filter, table, tr, i, j, column_length, count_td;
        column_length = document.getElementById('myTable').rows[0].cells.length;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            if (i === 0) {
                continue; 
            }
            count_td = 0;
            for (j = 0; j < column_length - 2; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        count_td++;
                    }
                }
            }

            // Check if it's the header row or if any column contains the filter text
            if (count_td > 0) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
