@model ShopWatch.Models.TAIKHOAN

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fontawesome-free-6.3.0-web/css/all.min.css">

    <style>
        /* LogIn.css */


        body {
            background-image: url(https://bossluxurywatch.vn/uploads/banner/anh-nen-trang-sp-co-san.jpg);
            padding: 0;
            background-size: contain
        }

        #formId {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background: #ced4da;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #dbaf56;
        }

        .input1 {
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            box-sizing: border-box;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }

        .forget {
            margin: -10px 0 17px;
            font-size: 0.9em;
            color: #fff;
            display: flex;
            justify-content: space-between;
        }

        .remember-forgot {
            color: gray;
            font-weight: 500;
            margin: -15px 0 15px;
        }


        .btndangnhap {
            width: 100%;
            padding: 12px;
            background-image: url(https://bossluxurywatch.vn/theme/frontend/images/bg_social.jpg);
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
        }

        .btnIcon {
            display: inline-block;
            margin: 0 10px;
            text-decoration: none;
            color: #ffffff;
            padding: 12px 20px;
            border-radius: 4px;
        }

        #bntswithApp {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .facebook {
            flex-basis: 48%;
            background: #3c00a0;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            height: 30px;
            background-image: url(https://bossluxurywatch.vn/theme/frontend/images/bg_social.jpg);
            border-radius: 5px;
            border: 0;
            outline: 0;
            cursor: pointer;
            transition: background 1s;
        }

        .google {
            flex-basis: 48%;
            text-align: center;
            background-image: url(https://bossluxurywatch.vn/theme/frontend/images/bg_social.jpg);
            height: 27px;
            border-radius: 5px;
            border: 0;
            outline: 0;
            cursor: pointer;
            transition: background 1s;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
        }
    </style>
    <title>Document</title>
</head>

<body>

    <div class="div1">

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="formId">

            <h1>Register</h1>


            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { placeholder = "   Tài khoản", id = "txtdn", @class = "form-control input1  ip1" } })
            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.TENDANGNHAP, new { htmlAttributes = new { placeholder = "Tên đăng nhập", id = "txtdn", @class = "form-control input1 ip" } })
            @Html.ValidationMessageFor(model => model.TENDANGNHAP, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.MATKHAU, new { htmlAttributes = new { placeholder = "   Mật khẩu ", id = "txtpass", @class = "form-control input1  ip2" } })
            @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })




            <div class="remember-forgot">
                <input type="checkbox" id="chebox" value="show" class="radiobtn" onclick="ischeck()" /> Remember


            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-default btndangnhap" id="btndangnhap" />
                </div>
            </div>

            <center>
                <p class=""> Hoặc </p>
            </center>
            <div id="bntswithApp">
                <a href="https://m.facebook.com/login/?locale=vi_VN&refsrc=deprecated" class="btnIcon facebook">
                    <span><i class="fa-brands fa-facebook" style="color: #024fe8;"></i> </span><span>Tiếp tục facebook</span>
                </a>
                <a href="https://accounts.google.com/signup/v2/webcreateaccount?continue=https%3A%2F%2Fmyaccount.google.com%3Futm_source%3Daccount-marketing-page%26utm_medium%3Dcreate-account-button&flowName=GlifWebSignIn&flowEntry=SignUp" class="btnIcon  google">
                    <span><i class="fa-brands fa-google" style="color: #0058f0;"></i> </span><span>Tiếp tục google</span>
                </a>

            </div>
            <p class="signup-already" style="text-align:center">
                <span style=" color: #dbaf56; font-family: inherit; font-size: 1rem; font-weight: 600; "> Bạn đã có tài khoản ? </span>
                <a href="/TAIKHOANs/Dangnhap">LogIn</a>
            </p>
        </div>
    }

    @*<form action="@Url.Action("Add","GIOHANG")" method="post">
       

        <input type="submit" value="Nhấn đi">
    </form>*@
    <script src="~/assets/KhachHang/LogIn/LogIn.js"></script>
</body>


</html>