@model ShopWatch.Models.QUANLYVOUCHER

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QUANLYVOUCHER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GHICHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHICHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYBATDAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBATDAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYKETTHUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKETTHUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TENKHACHHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VOUCHER.DIEUKIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VOUCHER.DIEUKIEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAQUANLYVOUCHER }) |
    @Html.ActionLink("Back to List", "Index")
</p>
