@model ShopWatch.Models.SALE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SALE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHANTRAMSALE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHANTRAMSALE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYBATDAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBATDAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYHETHAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYHETHAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MASALE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
