@model IEnumerable<ShopWatch.Models.NHAPHANG>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout1.cshtml";
}
<style>
    .table-container {
        max-height: 300px;
        overflow-y: auto;
    }

    .edit-button,
    .delete-button {
        display: inline-block;
        padding: 8px 16px;
        margin-right: 10px;
        background: linear-gradient(to right, #87CEFA, #4682B4);
        border: none;
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    /* Style cho bảng, chỉ để minh họa */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    /* Style cho các cell và header của bảng */
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .bnts {
        background-color: burlywood;
        margin-left: 20px;
    }

    .seache {
        display: flex;
        padding: 20px
    }

    #table-wrapper {
        position: relative;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    #table-scroll {
        max-height: 700px;
        overflow: auto;
        margin-top: 20px;
    }

    #table-wrapper table {
        width: 100%;
    }

        #table-wrapper table thead th .text {
            position: absolute;
            top: -20px;
            z-index: 2;
            height: 20px;
            width: 35%;
            border: 1px solid red;
        }

    tbody {
        height: 30px;
        overflow: scroll;
    }
</style>
<h4 style="font-weight:bold">QUANLYVOUCHER</h4>
<hr />
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Index", "NHAPHANGs", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="input-group-container">
                <div class="seache">
                    <input id="myInput" onkeyup="myFunction()" type="text" name="searchValue" class="form-control" placeholder="Nhập vào tìm kiếm ,Id, ngày tháng năm,tên..." aria-label="Search" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-secondary bnts" type="submit">Search</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box ">

            <div id="table-wrapper">
                <div id="table-scroll">

                    <table id="myTable" class="tablel table-bordered table-striped">
                        <thead id="table-wrapper">
                            <tr>
                                <th class="text-center">
                                    <label>MÃ PHIẾU NHẬP </label>
                                </th>
                                <th class="text-center">
                                    <label>THÀNH TIỀN </label>
                                </th>
                                <th class="text-center">
                                    <label>NGÀY NHẬP </label>

                                </th>
                                <th class="text-center">
                                    <label>TÊN NHÂN VIÊN </label>
                                </th>
                                <th class="text-center">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center tble">
                                        @Html.DisplayFor(modelItem => item.MANHAPHANG)
                                    </td>
                                    <td class="text-center tble">
                                        @String.Format("{0:N0}", item.THANHTIEN)
                                    </td>
                                    <td class="text-center tble ">
                                        @String.Format("{0:dd/MM/yyyy}", item.NGAYNHAP)

                                    </td>
                                    <td class="text-center tble ">
                                        @Html.DisplayFor(modelItem => item.NHANVIEN.TENNV)
                                    </td>
                                    <td class="text-center tble ">
                                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("CreateMulti", "CHITIETPHIEUNHAPs1",new { id = item.MANHAPHANG })'">ImportProduct</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, i, j, column_length, count_td;
        column_length = document.getElementById('myTable').rows[0].cells.length;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            // Check if the row is the header row
            if (i === 0) {
                continue; // Skip the header row
            }
            count_td = 0;
            for (j = 0; j < column_length - 2; j++) { // except first column
                td = tr[i].getElementsByTagName("td")[j];
                /* ADD columns here that you want you to filter to be used on */
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        count_td++;
                    }
                }
            }

            // Check if it's the header row or if any column contains the filter text
            if (count_td > 0) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.THANHTIEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NGAYNHAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NHANVIEN.TENNV)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.THANHTIEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYNHAP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHANVIEN.TENNV)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MANHAPHANG }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.MANHAPHANG })
                </td>
            </tr>
        }

    </table>
*@