@model ShopWatch.Models.KHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KHACHHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENKHACHHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENKHACHHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AVATAR)
        </dt>

        <dd>
            <img src="@Model.AVATAR" style="width:150px;height:150px" />
          
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANHVIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANHVIEN)
        </dd>

     
      

    </dl>
</div>
