@model IEnumerable<ShopWatch.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout1.cshtml";
}


<style>
    #table-wrapper {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #04AA6D;
    }

    #table-scroll {
        height: 550px;
        overflow: auto;
        margin-top: 20px;
    }

    #table-wrapper table {
        width: 100%;
    }



        #table-wrapper table thead th .text {
            position: absolute;
            top: -20px;
            z-index: 2;
            height: 20px;
            width: 35%;
            border: 1px solid red;
        }
</style>
<h3>DANH SACH KHACH HANG</h3>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Product", "MATHANGs", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="input-group-container">
                <div class="seache" style="justify-content:center;display:flex">
                    <input id="myInput" onkeyup="searchTableColumns()" type="text" name="searchValue" class="form-control col-xs-8" placeholder="Nhập thông tin tìm kiếm" aria-label="Search" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-secondary bnts" type="submit">Search</button>
                </div>
            </div>
        }
    </div>
</div>
<div>
    <div id="table-scroll">
        <table id="myTable" class="table">
            <thead id="table-wrapper">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TENKHACHHANG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AVATAR)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.TAIKHOAN.EMAIL)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TENKHACHHANG)
                        </td>
                        <td>
                            @{
                                if (item.SDT != null)
                                {
                                   string formattedPhoneNumber = "0" + item.SDT.Substring(2, 3) + "****" + item.SDT.Substring(7);
                                   
                                    <span>@formattedPhoneNumber</span>
                                }
                            }


                        </td>
                        <td>
                            @{
                                if (item.AVATAR != null)
                                { <img style="width:100px;height:100px" src=" @item.AVATAR ">
                                }
                            }


                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TAIKHOAN.EMAIL)
                        </td>
                        <td style="display:flex;background-color:burlywood;justify-content:space-around;align-content:center">
                            <button style="background-color:aquamarine;width:50%;height:40px;margin:2%;border-radius:10px" onclick="location.href='@Url.Action("INFORODER", "KHACHHANGs",new { id = item.MAKHACHHANG })'">
                                THÔNG TIN ĐẶT HÀNG
                            </button>
                            <button style="background-color:aquamarine;width:30%;height:40px;margin:2%;border-radius:10px" onclick="location.href='@Url.Action("Details", "KHACHHANGs",new { id = item.MAKHACHHANG })'">
                               DETAIL
                            </button>
                           @* @Html.ActionLink("Edit", "Edit", new { id = item.MAKHACHHANG }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MAKHACHHANG }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.MAKHACHHANG })*@
                        </td>
                    </tr>
                }

                </tbody>
</table>
    </div>
</div>
<script>
    function searchTableColumns() {
        // Declare variables
        var input, filter, table, tr, i, j, column_length, count_td;
        column_length = document.getElementById('myTable').rows[0].cells.length;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            // Check if the row is the header row
            if (i === 0) {
                continue; // Skip the header row
            }

            count_td = 0;
            for (j = 0; j < column_length - 2; j++) { // except first column
                td = tr[i].getElementsByTagName("td")[j];
                /* ADD columns here that you want you to filter to be used on */
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        count_td++;
                    }
                }
            }

            // Check if it's the header row or if any column contains the filter text
            if (count_td > 0) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
