@model ShopWatch.Models.KHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:200px">

</div>
<form action="/DIADIEMs/Index">
    <div class="form-row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ĐỊA CHỈ" class="btn btn-default" style=" background-color: #d69a62; color: white; left: 50px; margin-left: 90%;" />
        </div>
    </div>
</form>
<h2 style=" font-weight: 700; text-align :center">THÔNG TIN CHI TIẾT</h2>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<div>

    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TENKHACHHANG)</th>

            <th>@Html.DisplayNameFor(model => model.SDT)</th>

            <th>@Html.DisplayNameFor(model => model.AVATAR)</th>

        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.TENKHACHHANG)</td>
            <td>@Html.DisplayFor(model => model.SDT)</td>
            <td>
                >@Html.DisplayFor(model => model.AVATAR)
            </td>
        </tr>
    </table>


</div>
<div class="form-row">
    <div>
        <button class="col-md-offset-2 col-md-10"> @Html.ActionLink("Edit", "Edit", new { id = Model.MAKHACHHANG })</button>

    </div>
</div>
