﻿@model IPagedList<ShopWatch.Models.MATHANG>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "CreateMulti";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout1.cshtml";
}
<style>
    .edit-button,
    .delete-button {
        display: inline-block;
        padding: 8px 16px;
        margin-right: 10px;
        background: linear-gradient(to right, #87CEFA, #4682B4);
        border: none;
        color: white;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<h3>Nhập Nhiều Sản phẩm </h3>
<div class="row">
    <div class="col-md-6">

        @if (@ViewBag.NHAPHANG != null)
        {
            <div class="form-group">
                <label class="font-weight-bold">MANHAPHANG:</label>
                <span id="manhapHangSpan">@ViewBag.NHAPHANG.MANHAPHANG</span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">NGAYNHAP:</label>
                <span>@ViewBag.NHAPHANG.NGAYNHAP</span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">MANV:</label>
                <span>@ViewBag.NHAPHANG.MANV</span>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h3 id="total-price">Giá tiền: </h3>
        <form id="createMultiForm" action="/NhanVien/CHITIETPHIEUNHAPs1/CreateMulti" method="post">
          @*  <input type="text" name="listInput" id="listInput" class="listInput" />*@
            <div class="col-md-6">
                <input type="submit" value="Tạo Phiếu" style="width:120px;height:40px;background-color:chocolate;border-radius:20px" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box ">
            <div class="box-header">

            </div>
            <div class="box-body">
                <table id="example" class="tablet">
                    <tr style="background-color:#04AA6D; color: white;">
                        <th style=" padding: 15px; text-align: center;">
                            <label>LUACHON</label>
                        </th>
                        <th style=" padding: 15px; text-align: center;">
                            <label>MASANPHAM</label>
                        </th>
                        <th style=" padding: 15px; text-align: center;">
                            <label>TENHANG</label>
                        </th>
                        <th style=" padding: 15px; text-align: center;">
                            <label>ANHSANPHAM</label>

                        </th>
                        <th style=" padding: 15px; text-align: center;">
                            <label>NGAYSANXUAT</label>

                        </th>
                        <th style=" padding: 15px; text-align: center;">
                            <label> LOAI</label>
                        </th>
                        <th style=" padding: 15px; text-align: center;">
                            <label>GIAHANG</label>

                        </th>
                        <th style=" padding: 15px; text-align: center;">
                            <label>SOLUONG</label>

                        </th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" class="product-checkbox" />
                            </td>
                            <td class="text-center"style="font-weight:700" >
                                @Html.DisplayFor(modelItem => item.MAMATHANG)
                            </td>
                            <td class="text-center" style="font-weight:700">
                                @Html.DisplayFor(modelItem => item.TENHANG)
                            </td>
                            <td class="text-center">
                                <img src="@item.ANHSANPHAM" alt="Hình ảnh sản phẩm" class="product-image" style="width:35%;height:35%;" />
                            </td>
                            <td class="text-center">
                                @String.Format("{0:dd/MM/yyyy}", item.NGAYSANXUAT)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.LOAI)
                            </td>
                            <td class="text-center" style="font-size:16px;color:brown;font-weight:500">
                                <label class="gia-hang-label"> @String.Format("{0:N0}", item.GIAHANG)</label>
                            </td>
                            <td class="text-center">
                                <div class="quantity-control" id="quantity-control" style="display:none;flex-direction:row">
                                    <button class="quantity-decrease " style="background-color:coral">-</button>
                                    <input type="text" id="quantityInput" class="quantity-input" value="0" style="width:20px;height:20px" />
                                    <button class="quantity-increase" style="background-color:coral">+</button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    let tongtien = 0;
                    var manhapHangSpan = document.getElementById('manhapHangSpan');
                    var manhapHangValue = manhapHangSpan.textContent;
                    var selectedItems = []; // Danh sách các CHITIETPHIEUNHAP đã chọn
                    function updateTotalPrice() {
                        var totalPrice = selectedItems.reduce(function (total, item) {
                            tongtien = total + item.GiaTien;
                            return total + item.GiaTien;
                        }, 0);
                        var totalPriceDisplay = document.getElementById('total-price');
                        totalPriceDisplay.textContent = "Tổng Tiền : " + totalPrice + ' .VND'; // Hiển thị tổng giá tiền
                    }

                    function calculatePriceAndAdd(row, quantity) {
                        var giaHang = parseFloat(row.querySelector('.gia-hang-label').textContent.replace(/\D/g, ''));
                        var mamathang = row.querySelector('.text-center:nth-child(2)').textContent.trim();
                        var chitietphieunhap = {
                            MAMATHANG: row.querySelector('.text-center:nth-child(2)').textContent.trim(),
                            SOLUONG: quantity,
                            GiaTien: giaHang * quantity,
                            GIANHAP: giaHang * quantity,
                            MANHAPHANG: manhapHangValue,
                        };
                     
                        var index = selectedItems.findIndex(item => item.MAMATHANG === chitietphieunhap.MAMATHANG);
                        if (index === -1) {
                            selectedItems.push(chitietphieunhap);
                        
                        } else {
                            selectedItems[index].SOLUONG = quantity;
                            selectedItems[index].GiaTien = giaHang * quantity;
                        }
                        updateTotalPrice();
                    }

                    function toggleQuantityControl(row, show) {
                        var quantityControl = row.querySelector('.quantity-control');
                        quantityControl.style.display = show ? 'block' : 'none';
                    }

                    var checkboxes = document.querySelectorAll('.product-checkbox');
                    checkboxes.forEach(function (checkbox) {
                        checkbox.addEventListener('change', function () {
                            var row = this.closest('tr');
                            toggleQuantityControl(row, this.checked);
                            if (!checkbox.checked) {
                                console.log(checkbox.checked,'trang thái check')
                                var index = selectedItems.findIndex(item => item.MAMATHANG === row.querySelector('.text-center:nth-child(2)').textContent);
                                if (index !== -1) {
                                    selectedItems.splice(index, 1);
                                }
                                var Mamathang = row.querySelector('.text-center:nth-child(2)').textContent.trim();
                                var sotien = 0;
                                var selectedItem = selectedItems.find(item => item.MAMATHANG === Mamathang);
                                if (selectedItem) {
                                    sotien = selectedItem.GiaTien;
                                    console.log(sotien)
                                }
                                // Trừ sotien từ tổng giá tiền và cập nhật lại total view
                                console.log(tongtien)
                                tongtien -= sotien;
                                var totalPriceDisplay = document.getElementById('total-price');
                                totalPriceDisplay.textContent = "Tổng Tiền : " + tongtien + ' .VND';
                                // Loại bỏ item khỏi selectedItems
                                var index = selectedItems.findIndex(item => item.MAMATHANG === Mamathang);
                                if (index !== -1) {
                                    selectedItems.splice(index, 1);
                                }

                            }
                        });
                    });
                    var increaseButtons = document.querySelectorAll('.quantity-increase');
                    var decreaseButtons = document.querySelectorAll('.quantity-decrease');

                    increaseButtons.forEach(function (button) {
                        button.addEventListener('click', function () {
                            var row = this.closest('tr');
                            var quantityInput = row.querySelector('.quantity-input');
                            var quantity = parseInt(quantityInput.value) + 1;
                            quantityInput.value = quantity;
                            calculatePriceAndAdd(row, quantity);
                        });
                    });

                    decreaseButtons.forEach(function (button) {
                        button.addEventListener('click', function () {
                            var row = this.closest('tr');
                            var quantityInput = row.querySelector('.quantity-input');
                            var quantity = parseInt(quantityInput.value) - 1;
                            if (quantity >= 0) {
                                quantityInput.value = quantity;
                                calculatePriceAndAdd(row, quantity);
                            }
                        });
                    });
                   @* var listInput = document.getElementById('listInput');

                    createMultiForm.addEventListener('submit', function (event) {
                        event.preventDefault();
                        var dataToSend = JSON.stringify(selectedItems);
                        console.log("Data to send:", dataToSend);
                        listInput.value = dataToSend;

                        this.submit();
                    });*@

                    $('#createMultiForm').submit(function (event) {
                        event.preventDefault();

                        var selectedItemsData = JSON.stringify(selectedItems);
                        $.ajax({
                            type: 'POST',
                            url: '/NhanVien/CHITIETPHIEUNHAPs1/CreateMulti',
                            contentType: 'application/json',
                            data: selectedItemsData,
                            success: function (response) {
                                console.log('Data sent successfully');
                                alert('nhập hàng thành công')
                                // Cập nhật giao diện sau khi gửi dữ liệu
                            },
                            error: function (error) {
                                console.error('Error:', error);
                            }
                        });
                    });
                </script>

            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->

@Html.PagedListPager(Model, page => Url.Action("CreateMulti", new { page }))