@model IPagedList<ShopWatch.Models.MATHANG>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "homeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .product_all {
        position: relative
    }

    .button_add_tocart {
        position: absolute;
        bottom: 0;
        left: 0
    }

    .product {
        margin-top: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        .product img {
            margin-bottom: 20px;
            width: auto;
            height: auto;
            transition: transform 0.2s ease
        }

        .product:hover img {
            transform: scale(1.4);
        }

    .top_nav {
        background: #8B0000;
    }

    .banner_category a {
        display: inline-block;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease; /* Hiệu ứng chuyển động */
        will-change: transform;
    }

        .banner_category a:hover {
            transform: scale(0.4); /* Phóng to ảnh lên 110% khi hover */
        }
</style>
<div style="margin-top:200px">

</div>

<div style="width: 100%; height: 50px; background-color: #f2f2f2; display: flex; align-items: center; justify-content: space-between;">
    <div style="margin-left: 20px;">
        <a href="/Home/homeIndex">SHOP</a>
    </div>

    <div style="display: flex; align-items: center; ">
        <form id="searchForm" action="/Home/homeIndex" method="post">
            <input name="searchValue" type="text" placeholder="Tìm kiếm tên đồng hồ ..." style="height: 40px; margin-right: 40px;width:450px">

            <select name="brand" style="height: 40px; margin-right: 10px;">
                <option disabled selected hidden>Chọn hãng</option>
                <option value="Heuer">Heuer</option>
                <option value="A.Lange & Söhne">A.Lange & Söhne</option>
                <option value="Jaeger-LeCoultre">Jaeger-LeCoultre</option>
                <option value="Rolex">Rolex</option>
                <option value="Hublot">Hublot</option>
            </select>
            <select name="price" style="height: 40px; margin-right: 10px;">
                <option disabled selected hidden>Chọn giá</option>
                <option value="1000000">1.000.000</option>
                <option value="4000000">4.000.000</option>
                <option value="7000000">7.000.000</option>
                <option value="10000000">10.000.000</option>
                <option value="20000000">20.000.000</option>
                <option value="30000000">30.000.000</option>
                <option value="50000000">50.000.000</option>
                <option value="100000000">100.000.000</option>
                <option value="120000000">120.000.000</option>
                <option value="150000000">150.000.000</option>
                <option value="250000000">250.000.000</option>
                <option value="500000000">500.000.000</option>
            </select>
            <select name="size" syle="height: 40px; margin-right: 10px;">
                <option disabled selected hidden>Chọn size</option>
                <option value="38">38</option>
                <option value="44">44</option>
            </select>
            <select name="type" style="height: 40px; margin-right: 10px;">
                <option disabled selected hidden>Chọn loại</option>
                <option value="Đồng hồ cơ">Đồng hồ cơ</option>
                <option value="ĐH ĐIỆN TỬ">ĐH ĐIỆN TỬ</option>
                <option value="ĐH SMARTWATCH">ĐH SMARTWATCH</option>
                <option value="cao cấp">cao cấp</option>
            </select>
            <input type="submit" style="height: 40px;width:100px;border-radius:10px;background-color:burlywood" value="search" />
        </form>
    </div>
</div>

<div class="new_arrivals">
    <div class="container">

        <div class="align-self-auto">

            <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                @foreach (var item in Model)
                {
                    <!-- Product 1 -->

                    <div class="product-item men product_all" style="margin:5px 0px 5px 0px">
                        <div class="product discount product_filter" style="max-height:299px">
                            @if (item.SALE != null)
                            {
                                <a href="/MatHang/Chitietmathang?id=@item.MAMATHANG">
                                    <div style="z-index:1;width:70px" class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Sale @item.SALE.PHANTRAMSALE%</span></div>
                                    <img src="@item.ANHSANPHAM" alt="" style="max-width:150px; max-height:170px">
                                    <div class="favorite favorite_left"></div>
                                    <div class="product_info">
                                        <h6 class="product_name">@item.TENHANG</h6>
                                        <div class="product_price">@String.Format("{0:N0}", item.GIAHANG)</div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="/MatHang/Chitietmathang?id=@item.MAMATHANG">
                                    <img src="@item.ANHSANPHAM" alt="" style="max-width:150px; max-height:170px">
                                    <div class="favorite favorite_left"></div>
                                    <div class="product_info">
                                        <h6 class="product_name">@item.TENHANG</h6>
                                        <div class="product_price">@String.Format("{0:N0}", item.GIAHANG)</div>
                                    </div>
                                </a>
                            }
                        </div>

                        <div class="red_button add_to_cart_button button_add_tocart">
                            <a href="#">
                                @Html.ActionLink("Add To Cart", "AddToCart", "GioHang", new { sanpham = item.MAMATHANG }, null)
                            </a>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div><center>
    <div style="margin-left:20px;">@Html.PagedListPager(Model, page => Url.Action("homeIndex", new { page }))</div>
</center>
<div class="deal_ofthe_week" style="background-color: #fcf9f9;padding:0 20px 0 20px">
    <div class="w w-auto">
        <div class="row align-items-center">
            <div class="col-lg-8" @*style="margin-left: -65px;"*@>
                <div class="deal_ofthe_week_img" style=" margin-right: 10%">
                    <img src="../../assets/KhachHang/images/noi.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4 text-center deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                    <div class="section_title">
                        <h3 style="font-family: 'Alumni Sans', sans-serif; font-weight: 700;  ">TISSOT PRS </h3>
                    </div>
                    <div class="timer_unit" style=" margin-top: 40px; margin-left: 40px; font-family: 'Alumni Sans', sans-serif; font-weight:500">Tuyển chọn mẫu đồng hồ bán chạy</div>

                    <div class="red_button deal_ofthe_week_button"><a href="#">shop now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
        function searchProducts() {
            // Lấy các giá trị từ các phần tử trên giao diện
            var searchValue = document.getElementById("searchValue").value;
            var brand = document.getElementById("brand").value;
            var price = document.getElementById("price").value;
            var size = document.getElementById("size").value;
            var type = document.getElementById("type").value;

            // Tạo đường dẫn với các tham số đã lấy được
            var url = "/MATHANG/homeIndex?";
            url += "searchValue=" + encodeURIComponent(searchValue);
            url += "&brand=" + encodeURIComponent(brand);
            url += "&price=" + encodeURIComponent(price);
            url += "&size=" + encodeURIComponent(size);
            url += "&type=" + encodeURIComponent(type);

            // Chuyển hướng đến đường dẫn mới
            window.location.href = url;
        }
    </script>*@


