@model ShopWatch.Models.NOTIFICATION

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NhanVien/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NOTIFICATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOIGIAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOIGIAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATHANG.TINHTRANGDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATHANG.TINHTRANGDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TENKHACHHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MANOTIFICATION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
