@model IEnumerable<ShopWatch.Models.VOUCHER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PHANTRAMGIAMGIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIEUKIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PHANTRAMGIAMGIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIEUKIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRANGTHAI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAVOUCHER }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAVOUCHER }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAVOUCHER })
        </td>
    </tr>
}

</table>
